<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>About Us</h1>
          <p class="mb-4">
            Welcome to SoleSecure, where our passion for sneakers meets
            unparalleled convenience. Founded with a shared love for stylish
            footwear and a commitment to exceptional customer service, we strive
            to redefine the sneaker shopping experience. Our team curates an
            extensive collection of the latest trends and timeless classics,
            ensuring you find the perfect pair for any occasion.
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="images/jordan4invert.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Team Section -->
<div class="untree_co-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-5 mx-auto text-center">
        <h2 class="section-title">Our Team</h2>
      </div>
    </div>

    <div class="row">
      <!-- Start Column 1 -->
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0"></div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0"></div>
      <!-- End Column 2 -->

      <!-- Start Column 3 -->
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0"></div>
      <!-- End Column 3 -->

      <!-- Start Column 4 -->
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0"></div>
      <!-- End Column 4 -->
    </div>
  </div>
</div>
<!-- End Team Section -->

<!-- Start Reviews -->
<div class="testimonial-section before-footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h2 class="section-title">Reviews</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="testimonial-slider-wrap text-center">
          <div id="testimonial-nav">
            <span class="prev" data-controls="prev"
              ><span class="fa fa-chevron-left"></span
            ></span>
            <span class="next" data-controls="next"
              ><span class="fa fa-chevron-right"></span
            ></span>
          </div>

          <div class="testimonial-slider">
            <!-- Reviews -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Testimonial Slider -->
</div>

<script src="js/tiny-slider.js"></script>
<script src="js/custom.js"></script>
<script>
  fetch("json/team.json")
    .then((response) => response.json())
    .then((data) => {
      let container = document.querySelector(".untree_co-section .row");
      container.innerHTML = ""; // Clear the existing content
      data.team.forEach((member) => {
        let memberItem = document.createElement("div");
        memberItem.className = "col-12 col-md-6 col-lg-3 mb-5 mb-md-0";
        memberItem.innerHTML = `
        <img src="${member.image}" class="img-fluid mb-5" />
        <h3><a href="#"><span class="">${member.name}</span></a></h3>
        <span class="d-block position mb-4">${member.position}</span>
        <p>"${member.statement}"</p>
      `;
        container.appendChild(memberItem);
      });
    });
</script>

<script src="js/tiny-slider.js"></script>
<script src="js/custom.js"></script>
<script>
  fetch("json/reviews.json")
    .then((response) => response.json())
    .then((data) => {
      let slider = document.querySelector(".testimonial-slider");
      slider.innerHTML = ""; // Clear the existing content
      data.reviews.forEach((review) => {
        let reviewItem = document.createElement("div");
        reviewItem.className = "item";
        reviewItem.innerHTML = `
          <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto">
              <div class="testimonial-block text-center">
                <blockquote class="mb-5">
                  <p>&ldquo;${review.review}&rdquo;</p>
                </blockquote>
                <div class="author-info">
                  <h3 class="font-weight-bold">${review.author}</h3>
                  <span class="position d-block mb-3">Customer</span>
                </div>
              </div>
            </div>
          </div>
        `;
        slider.appendChild(reviewItem);
      });

      // Initialize the slider (tns) here
      tns({
        container: ".testimonial-slider",
        items: 1,
        slideBy: "page",
        autoplay: true,
        controlsContainer: "#testimonial-nav",
        autoplayButtonOutput: false,
        nav: false,
        mouseDrag: true,
        swipeAngle: false,
        speed: 400,
        autoplayTimeout: 5000,
      });
    });
</script>

<script src="js/tiny-slider.js"></script>
<script src="js/custom.js"></script>
