<script>
  if (!user) {
    window.location.href = "views/login.html";
  }
</script>

<div
  class="container d-flex justify-content-center align-items-center"
  style="padding: 20px"
>
  <div class="card" style="padding: 20px">
    <div class="user text-center">
      <div class="mt-5 text-center">
        <img src="images/blankuser.jpg" class="rounded-circle" width="80" />
      </div>
    </div>

    <div class="mt-5 text-center">
      <h4 class="mb-0">Iman Arifhodžić</h4>
      <span class="text-muted d-block mb-2">Los Angeles</span>
      <span class="text-muted d-block mb-2">imancica</span>
      <span class="text-muted d-block mb-2">iman.a@stu.ibu.edu.ba</span>
    </div>
  </div>
</div>
