<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>
            Secure your kicks <span class="d-block">for store pickup.</span>
          </h1>
          <p class="mb-4">
            With a click of a button, reserve your sneakers for pickup at one of
            our
            <a href="#locations" style="color: white">stores</a>.
          </p>
          <p>
            <a href="#stock" class="btn btn-white-outline">Explore</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="images/jordan4invert.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
  <div class="container">
    <div class="row">
      <!-- Start Column 1 -->
      <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
        <h2 class="mb-4 section-title">
          All the sneakers you ever dreamed of.
        </h2>
        <p class="mb-4">Make sure your dream kicks are yours.</p>
        <p><a href="stock.html" class="btn">Explore</a></p>
      </div>
      <!-- End Column 1 -->

      <div class="col-lg-9">
        <div class="row sneaker-row">
          <!-- Start Column 2 -->
          <div class="col-12 col-md-4 col-lg-4 mb-5 mb-md-0">
            >
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0"></div>
          </div>
          <!-- End Column 2 -->

          <!-- Start Column 3 -->
          <div class="col-12 col-md-4 col-lg-4 mb-5 mb-md-0"></div>
          <!--End Column 3 -->

          <!-- Start Column 4 -->
          <div class="col-12 col-md-4 col-lg-4 mb-5 mb-md-0"></div>
          <!--End Column 4 -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h2 class="section-title">Why Choose Us</h2>
        <p>
          Elevate your sneaker shopping experience with SoleSecure, where
          seamless convenience meets unrivaled style.
        </p>

        <div class="row my-5">
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img
                  src="images/car.svg"
                  style="height: 50px"
                  alt="vroom"
                  class="imf-fluid"
                />
              </div>
              <h3>Easy pickup</h3>
              <p>
                Experience the ultimate convenience as our streamlined
                reservation system ensures a hassle-free and quick in-store
                pickup, allowing you to step into your new sneakers without
                delay.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="images/bag.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>48-hour pickup time</h3>
              <p>
                At SoleSecure, time is of the essence. Benefit from our swift
                48-hour pickup guarantee, ensuring your chosen sneakers are
                ready for you in-store at your earliest convenience.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="images/support.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>Great Customer Support</h3>
              <p>
                Our dedicated team is at your service, ready to assist with any
                inquiries or guidance you may need, ensuring your fulfilling
                shopping journey from selection to pickup.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="images/return.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>Hassle Free Returns</h3>
              <p>
                Not satisfied? No problem. Enjoy peace of mind with our
                hassle-free return process, making exchanges or refunds as easy
                as slipping into your favorite pair of sneakers.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="img-wrap">
          <img
            src="images/pile-of-sneakers.jpg"
            alt="slikaaaaa bice polako trazim"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start Popular Product -->
<div class="popular-product">
  <h2 id="popular-prod-h">Popular products</h2>
  <div class="container">
    <p>You might be interested in:</p>
    <div class="row popular-prod-sneakers">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0"></div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0"></div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0"></div>
    </div>
  </div>
</div>
<!-- End Popular Product -->

<script>
  fetch("json/homeShoes1.json")
    .then((response) => response.json())
    .then((data) => {
      let sneakerRow = document.querySelector(".sneaker-row");
      sneakerRow.innerHTML = ""; // Clear the existing content
      data.homeShoes1.forEach((product) => {
        let productItem = document.createElement("div");
        productItem.className = "col-12 col-md-4 col-lg-4 mb-5 mb-md-0";
        productItem.innerHTML = `
          <a class="product-item" href="#">
            <img src="${product.image}" class="img-fluid product-thumbnail" />
            <h3 class="product-title">${product.name}</h3>
            <strong class="product-price">${product.price}</strong>
          </a>
        `;
        sneakerRow.appendChild(productItem);

        // Add click event listener to each product item
        productItem
          .querySelector(".product-item")
          .addEventListener("click", function (event) {
            event.preventDefault(); // Prevent default link behavior
            // Set modal content based on the clicked product

            document.getElementById("sizes").innerHTML = "";
            product.sizes.forEach((size) => {
              let li = document.createElement("li");
              li.textContent = size;
              document.getElementById("sizes").appendChild(li);
            });
            document.getElementById("modalProductTitle").innerText =
              product.name;
            document.getElementById("modalProductImage").src = product.image;
            document.getElementById("modalProductPrice").innerText =
              product.price;

            // Open the modal
            document.getElementById("myModal").style.display = "block";

            document.getElementById("modalProductTitle").innerText =
              product.name;
            document.getElementById("modalProductImage").src = product.image;
            document.getElementById("modalProductPrice").innerText =
              product.price;

            // Open the modal
            document.getElementById("myModal").style.display = "block";
          });

        // Add click event listener to each product item
        productItem
          .querySelector(".product-item")
          .addEventListener("click", function (event) {
            event.preventDefault(); // Prevent default link behavior
            // Set modal content based on the clicked product

            // Clear previous content
            document.getElementById("sizes").innerHTML = "";
            document.getElementById("reserve-button").style.display = "none";
            document.getElementById("reserved-message").style.display = "none";

            // Populate the sizes container with buttons for each size
            product.sizes.forEach((size) => {
              let button = document.createElement("button");
              button.textContent = size;
              button.className = "size-button";
              button.addEventListener("click", function () {
                // Highlight the selected size
                document.querySelectorAll(".size-button").forEach((btn) => {
                  btn.classList.remove("selected");
                });
                button.classList.add("selected");

                //Show the reserve button res for short mrsko mi bilo tipkat
                let res = document.getElementById("reserve-button");
                res.addEventListener("click", function () {
                  document.getElementById("reserved-message").style.display =
                    "block";
                });

                document.getElementById("reserve-button").style.display =
                  "block";
              });
              document.getElementById("sizes").appendChild(button);
            });
          });
      });
    });
</script>

<script>
  fetch("json/popularProducts.json")
    .then((response) => response.json())
    .then((data) => {
      let row = document.querySelector(".popular-prod-sneakers");
      row.innerHTML = ""; // Clear the existing content
      data.popularProducts.forEach((product) => {
        let productItem = document.createElement("div");
        productItem.className = "col-12 col-md-6 col-lg-4 mb-4 mb-lg-0";
        productItem.innerHTML = `
          <div class="product-item-sm d-flex">
            <div class="thumbnail">
              <img src="${product.image}" alt="Image" class="img-fluid" />
            </div>
            <div class="pt-3">
              <h3>${product.name}</h3>
              <p><a href="#">Go to item</a></p>
            </div>
          </div>
        `;
        row.appendChild(productItem);
      });
    });
</script>
