<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>
            Secure your kicks <span class="d-block">for store pickup.</span>
          </h1>
          <p class="mb-4">
            With a click of a button, reserve your sneakers for pickup at one of
            our
            <a href="#locations" style="color: white">stores</a>.
          </p>
          <p>
            <a href="#stock" class="btn btn-white-outline">Explore</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="images/jordan4invert.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
  <div class="container">
    <div class="row">
      <!-- Start Column 1 -->
      <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
        <h2 class="mb-4 section-title">
          All the sneakers you ever dreamed of.
        </h2>
        <p class="mb-4">Make sure your dream kicks are yours.</p>
        <p><a href="stock.html" class="btn">Explore</a></p>
      </div>
      <!-- End Column 1 -->

      <div class="col-lg-9">
        <div class="row sneaker-row">
          <!-- Start Column 2 -->
          <div class="col-12 col-md-4 col-lg-4 mb-5 mb-md-0">
            >
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0"></div>
          </div>
          <!-- End Column 2 -->

          <!-- Start Column 3 -->
          <div class="col-12 col-md-4 col-lg-4 mb-5 mb-md-0"></div>
          <!--End Column 3 -->

          <!-- Start Column 4 -->
          <div class="col-12 col-md-4 col-lg-4 mb-5 mb-md-0"></div>
          <!--End Column 4 -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h2 class="section-title">Why Choose Us</h2>
        <p>
          Elevate your sneaker shopping experience with SoleSecure, where
          seamless convenience meets unrivaled style.
        </p>

        <div class="row my-5">
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img
                  src="images/car.svg"
                  style="height: 50px"
                  alt="vroom"
                  class="imf-fluid"
                />
              </div>
              <h3>Easy pickup</h3>
              <p>
                Experience the ultimate convenience as our streamlined
                reservation system ensures a hassle-free and quick in-store
                pickup, allowing you to step into your new sneakers without
                delay.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="images/bag.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>48-hour pickup time</h3>
              <p>
                At SoleSecure, time is of the essence. Benefit from our swift
                48-hour pickup guarantee, ensuring your chosen sneakers are
                ready for you in-store at your earliest convenience.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="images/support.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>Great Customer Support</h3>
              <p>
                Our dedicated team is at your service, ready to assist with any
                inquiries or guidance you may need, ensuring your fulfilling
                shopping journey from selection to pickup.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="images/return.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>Hassle Free Returns</h3>
              <p>
                Not satisfied? No problem. Enjoy peace of mind with our
                hassle-free return process, making exchanges or refunds as easy
                as slipping into your favorite pair of sneakers.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="img-wrap">
          <img
            src="images/pile-of-sneakers.jpg"
            alt="slikaaaaa bice polako trazim"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start Popular Product -->
<div class="popular-product">
  <h2 id="popular-prod-h">Popular products</h2>
  <div class="container">
    <p>You might be interested in:</p>
    <div class="row popular-prod-sneakers">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0"></div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0"></div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0"></div>
    </div>
  </div>
</div>
<!-- End Popular Product -->
