<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>
            Secure your kicks <span class="d-block">for store pickup.</span>
          </h1>
          <p class="mb-4">Find us at one of our many locations!</p>
          <p>
            <a href="stock.html" class="btn btn-white-outline">In stock</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="images/jordan4invert.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<div class="untree_co-section product-section before-footer-section">
  <div class="container">
    <div class="row locations">
      <!-- Start Column 1 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 2 -->

      <!-- Start Column 3 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 3 -->

      <!-- Start Column 4 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 4 -->

      <!-- Start Column 1 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 2 -->

      <!-- Start Column 3 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 3 -->

      <!-- Start Column 4 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 4 -->
    </div>
  </div>
</div>

<script>
  fetch("json/locations.json")
    .then((response) => response.json())
    .then((data) => {
      let container = document.querySelector(".row.locations"); // Replace with the actual row selector
      container.innerHTML = ""; // Clear the existing content
      data.locations.forEach((location) => {
        let locationItem = document.createElement("div");
        locationItem.className = "col-12 col-md-4 col-lg-3 mb-5"; // Replace with the actual class name
        locationItem.innerHTML = `
        <a class="product-item" href="${location.link}" target="_blank">
          <img class="img-fluid product-thumbnail" src="images/location-ping.png" alt="blabla" />
          <h3 class="product-title">${location.shopName}</h3>
          <strong class="product-price">${location.location}</strong>
        </a>
      `;
        container.appendChild(locationItem);
      });
    })
    .catch((error) => console.error("Error:", error));
</script>
