<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style-login.css" />
    <link rel="stylesheet" href="../css/toastr.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <script src="../utils/rest_client.js"></script>
    <script src="../utils/constants.js"></script>

    <title>Login</title>
  </head>
  <body>
    <div class="form-v8">
      <div class="page-content">
        <div class="form-v8-content">
          <div class="form-left">
            <img src="../images/hanging-sneakers.jpg" alt="form" />
          </div>
          <div class="form-right">
            <div class="tab">
              <h1 style="padding: 40px">Log in</h1>
            </div>

            <form id="login-form" class="form-detail" action="#" method="post">
              <div class="tabcontent" id="sign-in">
                <div class="form-row">
                  <label class="form-row-inner">
                    <span class="label">Username</span>
                    <input
                      type="text"
                      name="username"
                      id="username"
                      class="input-text"
                      required
                    />

                    <span class="border"></span>
                  </label>
                </div>

                <div class="form-row">
                  <label class="form-row-inner">
                    <span class="label">Password</span>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="input-text"
                      required
                    />

                    <span class="border"></span>
                  </label>
                </div>
                <div class="form-row"></div>
                <div class="form-row-last">
                  <button
                    type="submit"
                    class="btn"
                    onclick="window.location.hash='home'"
                  >
                    Log in
                  </button>
                </div>
              </div>
              <div>
                <p>
                  Don't have an account?
                  <a href="register.html"><strong>Click here</strong></a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/tiny-slider.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.spapp.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../utils/form_validation.js"></script>
    <script src="../utils/jq_validation.js"></script>
    <script src="../utils/jqBootstrapValidation.js"></script>
    <script src="../utils/toastr.js"></script>
    <script src="../utils/utils.js"></script>

    <script>
      if (window.localStorage.getItem("user")) {
        window.location.href = "../index.html"; //change to index.html/#account
      }
      FormValidation.validate("#login-form", {}, function (data) {
        console.log("Data serialized to ", data);
        RestClient.post(
          "users/login",
          data,
          function (response) {
            Utils.set_to_localstorage("user", response);
            window.location = "../index.html";
          },
          function (error) {
            toastr.error(error.responseText);
          }
        );
      });
    </script>
  </body>
</html>
