<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="images p-3">
              <div class="text-center p-4">
                <img id="main-image" src="images/kaws4.png" width="500" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-4">
              <div class="mt-4 mb-3">
                <h5 class="text-uppercase">Air Jordan 4 Kaws</h5>
                <div class="price d-flex flex-row align-items-center">
                  <span class="act-price">$300</span>
                </div>
              </div>
              <p class="about">
                The Air Jordan 4 Kaws is a collaboration between Jordan Brand
                and the artist Kaws. The shoe features a premium grey suede
                upper with a glow-in-the-dark outsole. The shoe also features
                Kaws' signature "XX" logo on the heel and hangtag.
              </p>
              <div class="sizes mt-5">
                <h6 class="text-uppercase">Size</h6>
                <label class="radio">
                  <input type="radio" name="size" value="39" checked />
                  <span>39</span>
                </label>
                <label class="radio">
                  <input type="radio" name="size" value="40" /> <span>40</span>
                </label>
                <label class="radio">
                  <input type="radio" name="size" value="44" /> <span>44</span>
                </label>
                <label class="radio">
                  <input type="radio" name="size" value="43" /> <span>43</span>
                </label>
                <label class="radio">
                  <input type="radio" name="size" value="46" />
                  <span>46</span>
                </label>
              </div>
              <div class="cart mt-4 align-items-center">
                <button class="btn btn-danger text-uppercase mr-2 px-4">
                  Reserve
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
