<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style-login.css" />
    <link rel="stylesheet" href="../css/toastr.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <script src="../utils/rest_client.js"></script>
    <script src="../utils/constants.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="form-v8">
      <div class="page-content">
        <div class="form-v8-content">
          <div class="form-left">
            <img src="../images/hanging-sneakers.jpg" alt="form" />
          </div>
          <div class="form-right">
            <div class="tab">
              <h3 style="padding: 40px">Sign up</h3>
            </div>
            <form id="signup-form" class="form-detail" action="#" method="post">
              <div class="tabcontent" id="sign-up">
                <div class="form-row">
                  <label class="form-row-inner">
                    <span class="label">Name and Surname</span>
                    <input
                      type="text"
                      name="name"
                      id="name"
                      class="input-text"
                      required
                    />
                    <span class="label">Username</span>
                    <input
                      type="text"
                      name="username"
                      id="username"
                      class="input-text"
                      required
                    />
                    <span class="border"></span>
                  </label>
                </div>
                <div class="form-row">
                  <label class="form-row-inner">
                    <span class="label">E-Mail</span>
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="input-text"
                      required
                    />
                    <span class="border"></span>
                  </label>
                </div>
                <div class="form-row">
                  <label class="form-row-inner">
                    <span class="label">Password</span>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="input-text"
                      required
                    />
                    <span class="border"></span>
                  </label>
                </div>
                <!--  <div class="form-row">
                <label class="form-row-inner">
                  <span class="label">Confirm Password</span>
                  <input
                    type="password"
                    name="confirm_password"
                    id="confirm_password"
                    class="input-text"
                    required
                  />
                  <span class="border"></span>
                </label>
              </div>  -->
                <div class="form-row-last">
                  <button
                    type="submit"
                    class="btn"
                    onclick="window.location.hash='home'"
                  >
                    Sign up
                  </button>
                </div>
                <div>
                  <p>
                    Have an account?
                    <a href="login.html"><strong>Click here</strong></a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/tiny-slider.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.spapp.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../utils/form_validation.js"></script>
    <script src="../utils/jq_validation.js"></script>
    <script src="../utils/jqBootstrapValidation.js"></script>
    <script src="../utils/toastr.js"></script>

    <script>
      FormValidation.validate("#signup-form", {}, function (data) {
        console.log("Data is serialized into", data);

        RestClient.post("users/add", data, function (response) {
          toastr.success("User added successfully!");
        });
      });
    </script>
  </body>
</html>
