<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>In stock</h1>
          <p>
            Explore our curated selection of the latest trends and timeless
            classics, all available for immediate reservation and in-store
            pickup.You can trust that the sneakers you desire are ready and
            waiting for you. Discover the perfect blend of style and
            accessibility at SoleSecure.
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="images/jordan4invert.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<div class="untree_co-section product-section before-footer-section">
  <div class="container">
    <div class="row in-stock">
      <!-- Start Column 1 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 2 -->

      <!-- Start Column 3 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 3 -->

      <!-- Start Column 4 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 4 -->

      <!-- Start Column 1 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 2 -->

      <!-- Start Column 3 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5"></div>
      <!-- End Column 3 -->

      <!-- Start Column 4 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <!--ovo sam nesto cackao. ako ne bude radilo prepravi-->
      </div>
      <!-- End Column 4 -->
    </div>
  </div>
</div>
